html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.App {
  height: 100%;
  padding: 0;
  margin: 0;
}

.Header {
  background-color: #249EF9;
  margin: 0;  
  padding-left: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 10vh;
}

.Header h1 {
  font-size: 6vh;
}

.Header h5 {
  font-size: 2vh;
}

.Title-Container {
  float: left;
  height: 10vh;
  width: 60%;
}

.Body {
  padding-left: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}x

.Description-container {
  /*margin-bottom: 5vh;*/
}

.Quotes-container {
  margin-top: 3vh;
}

.Quote {
  margin-top: 2vh;
  margin-bottom: 2vh; 
}

.Form-container {
  margin-top: 3vh; 
}

.Footer-container {
  background-color: white;
  /*position:absolute;
  bottom:0;*/
  width: 100%;
  height: 5vh;
  min-height: 5vh;
}
